@media screen and (max-width: 1015px) {
    .thirdInputSection h2 {
        line-height: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 993px) {
    #searchBtn, #secondSearchBtn {
        width: fit-content;
    }
    .secondInputSection {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 984px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        padding: 10px;
    }
}

@media screen and (max-width: 689px) {
    .secondInputSection {
        flex-direction: column;
        padding-top: 15px;
        width: 100%;
    }
    .secondInputSection #start_date, .secondInputSection #end_date {
        width: 55%;
    }
    #secondSearchBtn {
        width: 55%;
    }
}

@media screen and (max-width: 623px) {
    .secondInputSection {
        flex-direction: column;
        padding-top: 15px;
        width: 100%;
    }
    .secondInputSection #start_date, .secondInputSection #end_date {
        width: 60%;
    }
    #secondSearchBtn {
        width: 60%;
    }
}

@media screen and (max-width: 431px) {
    .inputSection {
        flex-direction: column;
        width: 100%;
    }
    .inputSection input {
        width: 60%;
    }
    #searchBtn {
        width: 60%;
    }
}



